body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}
#adminButton {
    background-color: #163020;
    margin-left: 40%;
    margin-bottom: 20px;
    padding-left: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 100px;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;

}

#adminButton:hover {
    background-color: #B6C4B6;
}
header {
    background-color: #163020;
    padding: 20px;
    color: #fff;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 20px auto;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.checkbox-group,
.radio-group {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.checkbox-group input,
.radio-group input {
    margin-right: 5px;
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

table th, table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: #163020;
    color: #fff;
}

table td img {
    max-width: 100px;
    max-height: 100px;
    border-radius: 5px;
}

#resetFormButton, #tambahDataButton {
    background-color: #163020;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#resetFormButton:hover, #tambahDataButton:hover {
    background-color: #B6C4B6;
}
